# ==============================
# Python
# ==============================
__pycache__/
*.pyc
*.pyo
*.pyd
*.py[cod]
*.so

# Virtual Environment
venv/
.env/
.venv/

# ==============================
# Streamlit
# ==============================
.streamlit/secrets.toml

# ==============================
# Databases (IMPORTANT)
# ==============================
*.duckdb
*.sqlite
*.db

# ==============================
# Logs
# ==============================
*.log

# ==============================
# OS Files
# ==============================
.DS_Store
Thumbs.db

# ==============================
# IDE
# ==============================
.vscode/
.idea/
